<alertes> 
	<alerte>
	<site>B1</site>
	<ordi>lps-cabinets</ordi>
	<mac>00:18:8B:73:09:BB</mac>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>24</tpMinJour>
	<tpMaxJour>38</tpMaxJour>
	<tpMinNuit>24</tpMinNuit>
	<tpMaxNuit>33</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>25</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>08:00</debutjour>
	<photoperiode>14</photoperiode>
	<par>0</par>
	<parNuit>300</parNuit>
	<hr>45</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/chambre_1.csv</meteo>
	<lastRecord>2013-09-11 15:05</lastRecord>
	<envoi>0</envoi>
	<image>0</image>
	<bd>0</bd>
    <pc>0</pc>
    <lastloc>45680</lastloc>
    <mail>vincent.negre@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_B1.txt</log>
	</alerte>
	<alerte>
	<site>B2</site>
	<ordi>lps-cabinets</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>26</tpMinJour>
	<tpMaxJour>40</tpMaxJour>
	<tpMinNuit>26</tpMinNuit>
	<tpMaxNuit>35</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>24</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>08:00</debutjour>
	<photoperiode>14</photoperiode>
	<par>0</par>
	<parNuit>300</parNuit>
	<hr>40</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/chambre_2.csv</meteo>
	<lastRecord>2013-10-24 09:25</lastRecord>
	<envoi>0</envoi>
	<image>0</image>
    <pc>0</pc>
	<bd>0</bd>
    <lastloc>61214</lastloc>
    <mail>vincent.negre@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_B2.txt</log>
	</alerte>
	<alerte>
	<site>B3</site>
	<actif>1</actif>
	<actifco2>0</actifco2>
	<ordi>lps-cabinets</ordi>
	<tpMinJour>12</tpMinJour>
	<tpMaxJour>26</tpMaxJour>
	<tpMinNuit>11</tpMinNuit>
	<tpMaxNuit>16</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>25</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>07:36</debutjour>
	<photoperiode>10</photoperiode>
	<par>20</par>
	<parNuit>100</parNuit>
	<hr>30</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/chambre_3.csv</meteo>
	<lastRecord>2013-10-24 09:25</lastRecord>
	<envoi>0</envoi>
	<image>0</image>
	<bd>1</bd>
    <pc>0</pc>
    <lastloc>72994</lastloc>
    <mail>myriam.dauzat@inrae.fr;</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_B3.txt</log>
	</alerte>
	<alerte>
	<site>B4</site>
	<ordi>lps-cabinets</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>23</tpMinJour>
	<tpMaxJour>27</tpMaxJour>
	<tpMinNuit>23</tpMinNuit>
	<tpMaxNuit>27</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>25</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>09:00</debutjour>
	<photoperiode>24</photoperiode>
	<par>50</par>
	<parNuit>60</parNuit>
	<hr>30</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/chambre_4.csv</meteo>
	<lastRecord>2013-09-20 13:55</lastRecord>
	<envoi>0</envoi>
	<image>0</image>
	<bd>0</bd>
    <pc>0</pc>
    <lastloc>72994</lastloc>
    <mail>myriam.dauzat@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_B4.txt</log>
	</alerte>
	<alerte>
	<site>B5</site>
	<ordi>lps-cabinets</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>24</tpMinJour>
	<tpMaxJour>29</tpMaxJour>
	<tpMinNuit>22</tpMinNuit>
	<tpMaxNuit>25</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>28</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>06:30</debutjour>
	<photoperiode>14</photoperiode>
	<par>20</par>
	<parNuit>100</parNuit>
	<hr>30</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/chambre_5.csv</meteo>
	<lastRecord>2013-10-04 08:40</lastRecord>
	<envoi>5</envoi>
	<image>0</image>
	<bd>0</bd>
    <pc>0</pc>
    <lastloc>45680</lastloc>
    <mail>myriam.dauzat@inrae.fr;stephane.berthezene@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_B5.txt</log>
	</alerte>
	<alerte>
	<site>B6</site>
	<ordi>lps-cabinets</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>18</tpMinJour>
	<tpMaxJour>25</tpMaxJour>
	<tpMinNuit>18</tpMinNuit>
	<tpMaxNuit>25</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>33</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>05:05</debutjour>
	<photoperiode>12</photoperiode>
	<par>150</par>
	<parNuit>100</parNuit>
	<hr>35</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/chambre_6.csv</meteo>
	<lastRecord>2013-10-04 08:40</lastRecord>
	<envoi>5</envoi>
	<image>0</image>
	<bd>0</bd>
    <pc>0</pc>
    <lastloc>19820</lastloc>
    <mail>myriam.dauzat@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_B6.txt</log>
	</alerte>
	<alerte>
	<site>C1</site>
	<ordi>lps-phenopsis1</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>19</tpMinJour>
	<tpMaxJour>25</tpMaxJour>
	<tpMinNuit>16</tpMinNuit>
	<tpMaxNuit>22</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>30</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>07:03</debutjour>
	<photoperiode>12</photoperiode>
	<par>110</par>
	<parNuit>20</parNuit>
	<hr>30</hr>
	<tel>0670236831</tel>
	<meteo>/home/phenopsis/METEO/meteo.phenopsis1.dat</meteo>
	<lastRecord>2013-09-11 15:10</lastRecord>
	<envoi>5</envoi>
	<image>0</image>
    <pc>0</pc>
	<bd>1</bd>
    <lastloc>68385</lastloc>
    <mail>myriam.dauzat@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG1.txt</log>
	</alerte>
	<alerte>
	<site>C2</site>
	<ordi>lps-phenopsis2</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>25</tpMinJour>
	<tpMaxJour>32</tpMaxJour>
	<tpMinNuit>22</tpMinNuit>
	<tpMaxNuit>28</tpMaxNuit>
	<co2MinJour>600</co2MinJour>
	<co2MaxJour>900</co2MaxJour>
	<co2MinNuit>300</co2MinNuit>
	<co2MaxNuit>700</co2MaxNuit>
	<debutjour>07:10</debutjour>
	<photoperiode>50</photoperiode>
	<par>100</par>
	<parNuit>15</parNuit>
	<hr>30</hr>
	<tel>0670236831</tel>
	<meteo>/home/phenopsis/METEO/meteo.phenopsis2.dat</meteo>
	<lastRecord>2013-10-24 09:20</lastRecord>
	<envoi>5</envoi>
	<image>0</image>
    <pc>0</pc>
	<bd>0</bd>
    <lastloc>97330</lastloc>
    <mail>myriam.dauzat@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG2.txt</log>
	</alerte>
	<alerte>
	<site>C3</site>
	<ordi>lps-phenopsis3</ordi>
	<actif>1</actif>
	<actifco2>0</actifco2>
	<tpMinJour>17</tpMinJour>
	<tpMaxJour>28</tpMaxJour>
	<tpMinNuit>12</tpMinNuit>
	<tpMaxNuit>20</tpMaxNuit>
	<co2MinJour>200</co2MinJour>
	<co2MaxJour>880</co2MaxJour>
	<co2MinNuit>350</co2MinNuit>
	<co2MaxNuit>880</co2MaxNuit>
	<debutjour>05:02</debutjour>
	<photoperiode>14</photoperiode>
	<par>350</par>
	<parNuit>20</parNuit>
	<hr>30</hr>
	<tel>0670236831</tel>
	<meteo>/home/phenopsis/METEO/meteo.phenopsis3.dat</meteo>
	<lastRecord>2013-07-26 06:00</lastRecord>
	<envoi>5</envoi>
	<image>0</image>
    <pc>1</pc>
	<bd>1</bd>
    <lastloc>271945</lastloc>
    <mail>myriam.dauzat@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG3.txt</log>
	</alerte>
	<alerte>
	<site>BH</site>
	<ordi>lps-paquerette</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>18</tpMinJour>
	<tpMaxJour>25</tpMaxJour>
	<tpMinNuit>18</tpMinNuit>	
	<tpMaxNuit>25</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>25</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>18:00</debutjour>
	<photoperiode>12</photoperiode>
	<par>50</par>
	<parNuit>10</parNuit>
	<hr>30</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/bancHydraulique.dat</meteo>
	<lastRecord>2013-07-26 06:00</lastRecord>
	<envoi>0</envoi>
	<image>0</image>
    <pc>0</pc>
	<bd>0</bd>
    <lastloc>53787</lastloc>
    <mail>vincent.negre@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_BH.txt</log>
	</alerte>
	<alerte>
	<site>cA</site>
	<ordi>lps-meteo1.localsi</ordi>
	<actif>0</actif>
	<actifco2>0</actifco2>
	<tpMinJour>11</tpMinJour>
	<tpMaxJour>26</tpMaxJour>
	<tpMinNuit>11</tpMinNuit>	
	<tpMaxNuit>25</tpMaxNuit>
	<co2MinJour>17</co2MinJour>
	<co2MaxJour>25</co2MaxJour>
	<co2MinNuit>17</co2MinNuit>
	<co2MaxNuit>25</co2MaxNuit>
	<debutjour>08:00</debutjour>
	<photoperiode>14</photoperiode>
	<par>0</par>
	<parNuit>600</parNuit>
	<hr>30</hr>
	<tel />
	<meteo>/home/phenopsis/METEO/mto_cA.csv</meteo>
	<lastRecord>2013-07-26 06:00</lastRecord>
	<envoi>0</envoi>
	<image>0</image>
    <pc>0</pc>
	<bd>0</bd>
    <lastloc>53787</lastloc>
    <mail>vincent.negre@inrae.fr</mail>
    <log>/home/phenopsis/METEO/insertionMeteoLOG_BH.txt</log>
	</alerte>
</alertes>