<alertes>
		<alerte>
		<site>C1</site>
		<ordi>lps-phenopsis1</ordi>
		<actif>0</actif>
		<actifco2>0</actifco2>
		<tpMinJour>19</tpMinJour>
		<tpMaxJour>25</tpMaxJour>
		<tpMinNuit>16</tpMinNuit>
		<tpMaxNuit>22</tpMaxNuit>
		<co2MinJour>17</co2MinJour>
		<co2MaxJour>30</co2MaxJour>
		<co2MinNuit>17</co2MinNuit>
		<co2MaxNuit>25</co2MaxNuit>
		<debutjour>07:03</debutjour>
		<photoperiode>12</photoperiode>
		<par>110</par>
		<parNuit>20</parNuit>
		<hr>30</hr>
		<tel>0670236831</tel>
		<meteo>/home/phenopsis/METEO/meteo.phenopsis1.dat</meteo>
		<lastRecord>2013-09-11 15:10</lastRecord>
		<envoi>5</envoi>
		<image>0</image>
	<pc>0</pc>
		<bd>1</bd>
	<lastloc>68385</lastloc>
	<mail>myriam.dauzat@inrae.fr</mail>
	<log>/home/phenopsis/METEO/insertionMeteoLOG1.txt</log>
		</alerte>
		<alerte>
		<site>C2</site>
		<ordi>lps-phenopsis2</ordi>
		<actif>0</actif>
		<actifco2>0</actifco2>
		<tpMinJour>25</tpMinJour>
		<tpMaxJour>32</tpMaxJour>
		<tpMinNuit>22</tpMinNuit>
		<tpMaxNuit>28</tpMaxNuit>
		<co2MinJour>600</co2MinJour>
		<co2MaxJour>900</co2MaxJour>
		<co2MinNuit>300</co2MinNuit>
		<co2MaxNuit>700</co2MaxNuit>
		<debutjour>07:10</debutjour>
		<photoperiode>50</photoperiode>
		<par>100</par>
		<parNuit>15</parNuit>
		<hr>30</hr>
		<tel>0670236831</tel>
		<meteo>/home/phenopsis/METEO/meteo.phenopsis2.dat</meteo>
		<lastRecord>2013-10-24 09:20</lastRecord>
		<envoi>5</envoi>
		<image>0</image>
	<pc>0</pc>
		<bd>0</bd>
	<lastloc>97330</lastloc>
	<mail>myriam.dauzat@inrae.fr</mail>
	<log>/home/phenopsis/METEO/insertionMeteoLOG2.txt</log>
		</alerte>
		<alerte>
		<site>C3</site>
		<ordi>lps-phenopsis3</ordi>
		<actif>1</actif>
		<actifco2>0</actifco2>
		<tpMinJour>17</tpMinJour>
		<tpMaxJour>28</tpMaxJour>
		<tpMinNuit>12</tpMinNuit>
		<tpMaxNuit>20</tpMaxNuit>
		<co2MinJour>200</co2MinJour>
		<co2MaxJour>880</co2MaxJour>
		<co2MinNuit>350</co2MinNuit>
		<co2MaxNuit>880</co2MaxNuit>
		<debutjour>05:02</debutjour>
		<photoperiode>14</photoperiode>
		<par>350</par>
		<parNuit>20</parNuit>
		<hr>30</hr>
		<tel>0670236831</tel>
		<meteo>/home/phenopsis/METEO/meteo.phenopsis3.dat</meteo>
		<lastRecord>2013-07-26 06:00</lastRecord>
		<envoi>5</envoi>
		<image>0</image>
	<pc>1</pc>
		<bd>1</bd>
	<lastloc>271945</lastloc>
	<mail>myriam.dauzat@inrae.fr</mail>
	<log>/home/phenopsis/METEO/insertionMeteoLOG3.txt</log>
		</alerte>
</alertes>